body {
  background-color: #495D6A;
  font-family: Open Sans;
  margin: 0;
}

/* navbar */
.navbar-container {
  height: 100px;
  background-color: #36454F;
  border-bottom: 4px solid #7DF9FF; 
}
.navbar-sub-container {
  height: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  margin: auto;
}
.home-button {
  display: flex;
  align-items: center;
  margin-left: 50px;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    margin-left: 20px;
  }

  @media only screen and (max-width: 320px) {
    margin-left: 10px;
  }
}
.link {
  text-decoration: none;
}
.logo-com {
  font-size: xx-large;
  font-weight: 800;
  color: white;

  @media only screen and (max-width: 768px) {
    font-size: x-large;
    font-weight: 700;
  }

  @media only screen and (max-width: 320px) {
    font-size: large; 
    font-weight: 600;
  }
}
.logo-pair {
  font-size: xx-large;
  font-weight: 800;
  color: #7DF9FF;

  @media only screen and (max-width: 768px) {
    font-size: x-large;
    font-weight: 700;
  }

  @media only screen and (max-width: 320px) {
    font-size: large; 
    font-weight: 600;
  }
}
.nav-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 50px; 
  gap: 20px;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    margin-right: 20px;
    gap: 12px;
  }

  @media only screen and (max-width: 320px) {
    margin-right: 10px;
    gap: 7px;
  }
}
.nav-link {
  font-size: medium; 
  font-weight: 600; 
  color: white;

  /* Mobile */
  @media only screen and (max-width: 320px) {
    font-size: small;
    font-weight: 400;
  }
}
.nav-link:hover {
  color: #7DF9FF;
}
.nav-button {
  text-decoration: none; 
  width: 120px; 
  height: 45px; 
  background-color: white; 
  border-radius: 10px; 
  display: flex;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    width: 110px;
    height: 35px;
  }
  
  @media only screen and (max-width: 320px) {
    width: 90px;
  }
}
.nav-button-text {
  font-size: medium; 
  font-weight: 800; 
  color: #36454F; 
  margin: auto;

  @media only screen and (max-width: 320px) {
    font-size: small;
    font-weight: 600;
  }
}

/* footer */
.footer-container {
  background-color: #36454F;
  border-top: 4px solid #7DF9FF; 
}
.footer-sub-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 300px;
  margin: auto;
  
  @media only screen and (max-width: 768px) {
    display: block;
    height: 450px;
    width: 290px;
  }
}
.footer-logo {
  display: flex;
  width: 300px;
  height: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    width: 280px;
    height: 100px;
  }
}
.footer-section-container {
  width: 300px;
  height: 120px;
  margin: auto;
  /* background-color: #7DF9FF; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @media only screen and (max-width: 768px) {
    width: 280px;
    height: 150px;
    justify-content: center;
    gap: 5px;
  }      
}
.footer-section-header {
  height: 100px;
  margin-bottom: 15px;
  font-size: large;
  font-weight: 800;
  /* text-decoration: underline; */
  color: white;

  @media only screen and (max-width: 768px) {
    height: 30px;
    margin-bottom: 0;
  }
}
.footer-contact-button {
  width: 200px;
  border: 2px solid #7DF9FF;
  border-radius: 8px;
  padding: 10px;
  background-color: #36454F;
  font-family: Open Sans;
  color: white;
  font-weight: 500;
  font-size: medium;
}
.footer-contact-button:hover {
  background-color: #7DF9FF;
  color: #36454F;
  cursor: pointer;
}
.footer-contact-button:active {
  background-color: #36454F;
  color: white;
  cursor: pointer;
}
