body {
  background-color: #495D6A;
  font-family: Open Sans;
  margin: 0;
}

/* navbar */
.navbar-container {
  height: 100px;
  background-color: #36454F;
  border-bottom: 4px solid #7DF9FF; 
}
.navbar-sub-container {
  height: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  margin: auto;
}
.home-button {
  display: flex;
  align-items: center;
  margin-left: 50px;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    margin-left: 20px;
  }

  @media only screen and (max-width: 320px) {
    margin-left: 10px;
  }
}
.link {
  text-decoration: none;
}
.logo-com {
  font-size: xx-large;
  font-weight: 800;
  color: white;

  @media only screen and (max-width: 768px) {
    font-size: x-large;
    font-weight: 700;
  }

  @media only screen and (max-width: 320px) {
    font-size: large; 
    font-weight: 600;
  }
}
.logo-pair {
  font-size: xx-large;
  font-weight: 800;
  color: #7DF9FF;

  @media only screen and (max-width: 768px) {
    font-size: x-large;
    font-weight: 700;
  }

  @media only screen and (max-width: 320px) {
    font-size: large; 
    font-weight: 600;
  }
}
.nav-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 50px; 
  gap: 20px;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    margin-right: 20px;
    gap: 12px;
  }

  @media only screen and (max-width: 320px) {
    margin-right: 10px;
    gap: 7px;
  }
}
.nav-link {
  font-size: medium; 
  font-weight: 600; 
  color: white;

  /* Mobile */
  @media only screen and (max-width: 320px) {
    font-size: small;
    font-weight: 400;
  }
}
.nav-link:hover {
  color: #7DF9FF;
}
.nav-button {
  text-decoration: none; 
  width: 120px; 
  height: 45px; 
  background-color: white; 
  border-radius: 10px; 
  display: flex;

  /* Tablet */
  @media only screen and (max-width: 768px) {
    width: 110px;
    height: 35px;
  }
  
  @media only screen and (max-width: 320px) {
    width: 90px;
  }
}
.nav-button:hover {
  background-color: #7DF9FF;
}
.nav-button-text {
  font-size: medium; 
  font-weight: 800; 
  color: #36454F; 
  margin: auto;

  @media only screen and (max-width: 320px) {
    font-size: small;
    font-weight: 600;
  }
}

/* form */
.form-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;

  @media only screen and (max-width: 1024px) {
    pading: 50px;
  }

  @media only screen and (max-width: 768px) {
    width: 350px;
    padding: 5px;
  }

  @media only screen and (max-width: 320px) {
    width: 270px;
  }
}
.form-section-header {
  margin: auto;
  font-size: 37pt;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 320px) {
    font-size: 20pt;
  }
}
.form-container {
  width: 600px;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  background-color: #36454F;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  @media only screen and (max-width: 768px) {
    width: 280px;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 320px) {
    width: 220px;
  }
}
.form-section-row {
  display: flex;
  flex-direction: row;
  background-color: #36454F;
  justify-content: space-between;
  margin-bottom: 30px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.form-section-input {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 10px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 320px) {
    width: 220px;
  }
}
.form-section-input-full {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;

  @media only screen and (max-width: 768px) {
    width: 280px;
  }

  @media only screen and (max-width: 320px) {
    width: 220px;
  }
}
.form-label-input {
  font-size: large;
  font-weight: 600;
  color: white;
}
.form-input {
  height: 35px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  border: none;
  color: #36454F;
  font-family: Open Sans;
}
.form-com-text {
  font-size: small;
  font-weight: 500;
  color: #495D6A;
}
.form-com-checkbox {
  height: 15px;
}
.form-button {
  width: 280px;
  height: 50px;
  border-radius: 10px;
  color: white;
  border: 3px solid #7DF9FF;
  background-color: #36454F;
  font-size: large;
  font-weight: 600;

  @media only screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 320px) {
    width: 220px;
  }
}
.form-button:hover {
  background-color: #7DF9FF;
  color: #36454F;
  cursor: pointer;
}

/* footer */
.footer-container {
  background-color: #36454F;
  border-top: 4px solid #7DF9FF; 
  display: flex;
  justify-content: center;
}
.footer-sub-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 300px;
  margin: auto;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    display: block;
    height: 450px;
    width: 290px;
  }
}
.footer-logo {
  display: flex;
  width: 300px;
  height: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    width: 280px;
    height: 100px;
  }
}
.footer-section-container {
  width: 300px;
  height: 120px;
  margin: auto;
  /* background-color: #7DF9FF; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @media only screen and (max-width: 768px) {
    width: 280px;
    height: 150px;
    justify-content: center;
    gap: 5px;
  }      
}
.footer-nav-link {
  color: #7DF9FF;
  text-decoration: underline;
}
.footer-nav-link:hover {
  color: white;
}
.footer-section-header {
  height: 100px;
  margin-bottom: 15px;
  font-size: large;
  font-weight: 800;
  /* text-decoration: underline; */
  color: white;

  @media only screen and (max-width: 768px) {
    height: 30px;
    margin-bottom: 0;
  }
}
.footer-contact-button {
  width: 200px;
  border: 2px solid #7DF9FF;
  border-radius: 8px;
  padding: 10px;
  background-color: #36454F;
  font-family: Open Sans;
  color: white;
  font-weight: 500;
  font-size: medium;
}
.footer-contact-button:hover {
  background-color: #7DF9FF;
  color: #36454F;
  cursor: pointer;
}
.footer-contact-button:active {
  background-color: #36454F;
  color: white;
  cursor: pointer;
}

/* services */
.services-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 800px;
  width: 800px;
  text-align: center;

  @media only screen and (max-width: 1024px) {
    width: 600px;
    height: 1000px;
  }

  @media only screen and (max-width: 768px) {
    width: 300px;
    height: 500px;
  }

  @media only screen and (max-width: 320px) {
    width: 250px;
    height: 600px;
  }
}
.table-container {
  border-radius: 10px;
  margin: auto;
  border: 4px solid #7DF9FF;
  color: white;
}
.table-header-cell {
  width: 150px;
  height: 100px;
  border: 2px solid #7DF9FF;
  text-align: center;
  background-color: #36454F;

  @media only screen and (max-width: 768px) {
    height: 50px;
    font-size: x-small;
    font-weight: 300;
  }
}
.table-cell-no {
  width: 150px;
  height: 100px;
  border: 2px solid #7DF9FF;
  text-align: center;
  font-size: 37pt;
  color: red;

  @media only screen and (max-width: 768px) {
    height: 50px;
  }
}
.table-cell-yes {
  width: 150px;
  height: 100px;
  border: 2px solid #7DF9FF;
  text-align: center;
  font-size: 37pt;
  color: green;

  @media only screen and (max-width: 768px) {
    height: 50px;
  }
}
.services-section-header {
  font-size: 37pt;
  color: white;
  font-weight: 600;
  margin-top: 50px;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
    font-size: 20pt;
  }

  @media only screen and (max-width: 320px) {
    font-size: 20pt;
  }
}
