body {
  margin: 0;
}

.cell {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid black;
  font-size: 50px;
  cursor: pointer;
  /* display: inline-block; */
  margin: 5px;
}

#gameContainer {
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin: auto;
}

#statusLabel {
  background-color: lightgray;
  width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#restartButton {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background-color: lightgray;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
